body {
    box-sizing: border-box;
    background: rgb(23, 23, 24);
    height: 100vh;
}
.dice-container, .discard-container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}
.dice-container div, .discard-container div {
    height: 75px;
    width: 75px;
}
.dice-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0);
    border: 2px solid #fff;

    border-radius: 8px;
}
.sections-container {
    width: 90%;
}
.left-graphics-container {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-graphics-container {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dice-main-container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.graphics-container {
    width: 100%;
    height: 30%;
    display: flex;
}
.board-container {
    width: 60%;
    height: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
}
.discard-container div {
    border: 1px solid #fff;
    margin-top: 20px;
}

.dice-chosen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 10%;
}
.marks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}
.dice-chosen-container div {
    border: 1px solid #fff;
    height: 75px;
    width: 75px;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.yellow-blue-section {
    width: 100%;
    height: 55%;

}
.yellow-section {
    width: 50%;
    height: 100%;
    background: rgb(228, 215, 102);
    border-radius: 5px;
}
.yellow-section .row {
    height: 20%
}
.blue-section {
    width: 50%;
    height: 100%;
    background: rgb(56, 56, 185);
    border-radius: 5px;
}
.blue-section .row {
    height: 20%;
}
.green-section {
    width: 100%;
    height: 15%;
    background: rgb(56, 161, 56);
    border-radius: 5px;
}
.orange-section {
    width: 100%;
    height: 15%;
    background: rgb(192, 124, 46);
    border-radius: 5px;
}
.purple-section {
    width: 100%;
    height: 15%;
    background: rgb(145, 56, 145);
    border-radius: 5px;
}
img {
    width: 80%;
    border-radius: 5px;
}
.checkbox-display {
    background-color: white;
    display: inline-block;
    width: 50px;
    height: 50px;
    
    z-index: 1;
    position: relative;
    transition: all 250ms ease-out;
    cursor: pointer;
}
.green-section .checkbox-display, .orange-section .checkbox-display, .purple-section .checkbox-display  {
    
    width: 50px;
    height: 50px;
}
.green-section .reward-display, .orange-section .reward-display, .purple-section .reward-display {
    width: 25px;
    height: 25px;
}

.marker-section input[type=checkbox]{
    display: none;
  /*   margin-right: -20px;
    position: relative;
    z-index: 2; */
  }
.pre-filled {
    background: url('../assets/x.png');
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
}
.marker-section input[type=checkbox]:checked + .checkbox-display{
    background: url('../assets/x.png');
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
}
.reward-display {
    background-color: #fff;
    font-size: 22px;
    font-weight: bold;
    border: 1px solid black;
    text-align: center;
}
.end-screen-container {
    display: none;
    position: fixed;
    top: 0;
    background-color: #000;
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.action-button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #b62a7b;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(22, 22, 22);
  }
  
  
  .action-button:active {
    background-color: #b62a7b;
    box-shadow: 0 5px rgb(8, 8, 8);
    transform: translateY(4px);
  }
  .active-button:disabled, button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
  .active-button:active:hover:not([disabled]) {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }

.end-screen-container {
    height: 100%;
    width: 100%;
}
.tally-yellow {
    color: yellow;
}
.tally-blue {
    color: blue;
}
.tally-green {
    color: green;
}
.tally-orange {
    color: orange;
}
.tally-purple {
    color: purple;
}
.tally-foxes {
    color: red;
}
.tally-total {
    color: white;
}
label {
    font-size: 22px;
    text-align: center;
}